html {
  scroll-behavior: smooth;
}

body {
  background-color: #180f33;
  margin: 0;
  padding: 0;
  color: white;
  font-family: Code Pro Regular Lowercase, sans-serif;
  text-align: center;
}

section {
  padding: 3rem;
  line-height: 1.5rem;
}

hr {
  width: 20%;
  height: 3px;
  background-color: #9671ff;
  border: none;
  text-align: center;
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}

.title-and-image-container {
  display: flex;
  width: 100%;
  flex-direction: column-reverse;
  text-align: center;
}

.title-container {
  margin-left: 1rem;
}

.image {
  width: 100%;
}

.dates-and-participants {
  display: flex;
  flex-direction: column;
  width: 100%;
  line-height: initial;
}

.participants {
  background-color: white;
  color: #180f33;
  text-align: center;
}

#dates-title,
#participants-title {
  font-size: 3.5rem;
}

.participants,
.dates {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.participants h3,
.dates h3,
.question-title {
  font-size: 1rem;
  text-transform: uppercase;
}

.question-separator {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 40%;
}

.dates h3 {
  color: white;
}

#dates-title,
#first,
#second,
#third,
.subheader-gold {
  color: #d6ae89;
}

#first p,
#second p,
#third p {
  color: white;
}

#first {
  font-size: 2rem;
}

#first p {
  font-size: 1.5rem;
}

#second {
  font-size: 1.8rem;
}

#second p {
  font-size: 1.3rem;
}

#third {
  font-size: 1.5rem;
}

#third p {
  font-size: 1rem;
}

.map-and-legend-container {
  display: flex;
  flex-direction: column;
}

.countries-list {
  list-style-type: none;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

@media only screen and (min-width: 600px) {
  .title-and-image-container {
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    text-align: left;
  }

  .title-container {
    margin-left: 1rem;
  }

  .image {
    width: 100%;
  }

  .dates-and-participants {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .map-and-legend-container {
    display: grid;
    grid-template-columns: 20% 80%;
  }
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

#survey-title {
  color: #d0b87f;
}

.map-container {
  width: 100%;
  text-align: center;
}

.doc {
  padding: 30px;
}

div.tooltip {
  position: absolute;
  padding: 10px;
  opacity: 0;
  background-color: white;
  color: black;
  box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.6);
  border: 0px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  transform: translate(10px, 10px);
}

a {
  color: white;
}

.asian {
  background-color: #0e8ebe;
}
.black {
  background-color: #bb7272;
}
.hispanic {
  background-color: #805aa0;
}
.white {
  background-color: #80a68d;
}
.middle {
  background-color: #d0b87f;
}

.asian,
.black,
.middle,
.hispanic,
.white,
.white-asian,
.white-black-or-african-american,
.hispanic-latino-or-spanish-origin-white-,
.white-middle-eastern-or-north-african {
  width: 25px;
  height: 25px;
  margin: 5px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.asian:hover .ethnic-category-tooltip,
.black:hover .ethnic-category-tooltip,
.middle:hover .ethnic-category-tooltip,
.hispanic:hover .ethnic-category-tooltip,
.white:hover .ethnic-category-tooltip,
.white-asian:hover span,
.white-black-or-african-american:hover .ethnic-category-tooltip,
.hispanic-latino-or-spanish-origin-white-:hover .ethnic-category-tooltip,
.white-middle-eastern-or-north-african:hover .ethnic-category-tooltip {
  opacity: 1;
}

#ethnicity-wrapper,
#coding-wrapper {
  display: flex;
  padding: 50px;
  flex-direction: row;
  align-items: center;
  line-height: 1;
  width: 80%;
}

#ethnicity-2,
#ethnicity-legend {
  display: inline-block;
  width: 50%;
  white-space: no-wrap;
  height: max-content;
}

#ethnicity-legend {
  float: left;
}

#ethnicity-2 {
  float: right;
}

.percentage-title-asian {
  color: #0e8ebe;
}
.percentage-title-black {
  color: #bb7272;
}
.percentage-title-hispanic {
  color: #805aa0;
}
.percentage-title-white {
  color: #80a68d;
}
.percentage-title-middle {
  color: #d0b87f;
}

.legend-title {
  text-transform: uppercase;
  font-weight: 900;
}

.white-asian {
  background: linear-gradient(90deg, #80a68d 50%, #0e8ebe 50%);
}
.white-black-or-african-american {
  background: linear-gradient(90deg, #80a68d 50%, #bb7272 50%);
}
.hispanic-latino-or-spanish-origin-white- {
  background: linear-gradient(90deg, #805aa0 50%, #80a68d 50%);
}
.white-middle-eastern-or-north-african {
  background: linear-gradient(90deg, #80a68d 50%, #d0b87f 50%);
}

.ethnic-category-tooltip {
  position: absolute;
  padding: 10px;
  opacity: 0;
  background-color: white;
  color: black;
  box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.6);
  border: 0px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  transform: translate(10px, 10px);
}

#coding-experience {
  width: 50%;
}

.yes,
.no {
  width: 35px;
  height: 35px;
  font-size: 2.5rem;
}

.yes i,
.no i {
  padding: 5px;
}

.yes {
  color: #9671ff;
}

.no {
  color: #494f56;
}

.percentage-title-yes {
  color: #9671ff;
  font-size: 6rem;
}

.percentage-title-no {
  color: #494f56;
  font-size: 6rem;
}

#code-legend {
  width: 50%;
}

.legend-title-code {
  font-size: 2.5rem;
}

.bar {
  background-color: #80a68d;
  height: 60px;
  border-radius: 0 5px 5px 0;
  margin: 5px;
}

.bar-chart-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 30% 70%;
  grid-gap: 15px;
}

.legend {
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  text-transform: capitalize;
  text-align: right;
}
